<div class='container'>
	<div class='row'>
		<div class='col-md-6 col-md-offset-3'>
			<h1 class='text-center headline'>Bob's Burger Time!</h1>
		</div>
	</div>
</div>
<div class='container'>
	<div class='row'>
		<div class='col-md-3 col-md-offset-2'>
			<h2 class="text-center headline order">Add a Burger</h2>
			<form class="text-center create-update-form headline form" action="/insertBurgers" method="POST">
				<div class="form-group">
					<label for="burg">Burger Name:</label>
					<input type="text" id="burg" name="burger_name">
				</div>
				<button class='button' type="submit">Order up!</button>
			</form>
		</div>
		<div class='col-md-3'>
			<h2 class='text-center headline order'>Menu</h2>
			<ul class="headline menu">
				{{#each burgers}}
				{{#unless this.devoured}}
				<li>
					{{this.id}}.
					{{this.burger_name}}
					<form action='/update/{{this.id}}?_method=PUT' method="POST">
						<button class='button' type='submit'>NOM NOM NOM</button>
					</form>
				</li>
				{{/unless}}
				{{/each}}
			</ul>
		</div>
		<div class='col-md-4'>
			<h2 class='text-center headline order'>MMMMM...</h2>
			<ul class='headline menu'>
				{{#each burgers}}
				{{#if this.devoured}}
				<li>
					{{this.id}}.
					{{this.burger_name}}
				</li>
				{{> burgers/deleteBurger}}
				{{/if}}
				{{/each}}
			</ul>
		</div>
	</div>
</div>
